body {
  background: #85144b;

}

main {
  text-align: center;
  margin-top:200px;
  
}
h1  {

color: #fff;
text-align:center;
margin-top:10%;
font-family: 'Andika';font-size: 32px;
}

h2  {

color: #fff;
text-align:center;
font-family: 'Andika';font-size: 20px;
}

ul {
list style-type: none;
}



button{
    position:relative;
    background-color:transparent;
    color: #fff;
    width:auto;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    padding:10px;
    border-radius:10px;
  
}



