body {
	background: #4099FF;

}

main{
  text-align: center;
  margin-top:200px;
  
}
h1  {

color:white;
text-align:center;
margin-top:10%;
font-family: 'Andika';font-size: 32px;
}

h2  {

color:white;
text-align:center;
font-family: 'Andika';font-size: 20px;
}

ul {
color:white;
text-align:center;
font-family: 'Andika';font-size: 10px;

}



button{
    position:relative;
    background-color:transparent;
    color:white;
    width:auto;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    padding:10px;
    border-radius:10px;
  
}



